@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --hr-line:hsla(0, 0%, 95%), 0.1;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
        background-color: var(--Dark-cyan);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: left 120% top 200%,
            right 120% top -100%;
        background-repeat: no-repeat, no-repeat;
        min-height: 100vh;
}

h1, h2{
    font-size: 1.125rem;
    color:var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

p, span{
    color:var(--Dark-grayish-blue);
    font-weight: 400;
}

.line h1{
    margin-top:1rem;
}

.line p{
    margin:0.4rem  0 1.3rem 0;
}

.line{
border-bottom: 1px solid rgba(45, 50, 72, 0.2);
}

main{
    display: flex;
        flex-direction: column;
        width: 340px;
        height: auto;
        background: #fefefe;
        margin: auto;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-align: center;
}

h1 span{
    padding-left:0.3rem;
}
.rad{
    margin-top:-3.5rem;
    border:5px solid #ffff;
    border-radius: 50%; 
}

.rad p{
    font-size: 0.9rem;
}


article{
    padding:1.2rem 2.3rem;
}
.three {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three p{
    letter-spacing:0.1rem;
    font-size: 0.9rem;
}

.arrange{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.attribution {
    font-size: 1rem;
    padding-bottom:0.5rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media screen  and (min-width: 680px){
    body{
        background-position: top -500px left -260px,
                bottom -600px right -180px;
    }

}


