@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@700;800&display=swap');

:root {
    /*Primary*/
    --Light-red: hsla(0, 100%, 67%, 0.1);
    --light-red-div: hsl(0, 100%, 67%);
    --Orangey-yellow: hsla(39, 100%, 56%, 0.1);
    --Orange-yellow-div: hsl(39, 100%, 56%);
    --Green-teal: hsla(166, 100%, 37%, 0.1);
    --Green-teal-div: hsl(166, 100%, 37%);
    --Cobalt-blue: hsla(234, 85%, 45%, 0.1);
    --Cobalt-blue-div: hsl(234, 85%, 45%);
    --span-colors: hsl(223, 11%, 62%);

    /*gradients*/
    --Light-slate-blue-background: hsla(252, 100%, 67%, 1);
    --Light-royal-blue-background: hsla(241, 81%, 54%, 1);

    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grey-blue: hsl(224, 30%, 27%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    width: 100%;

}

p,
h5 {
    font-size: 18px;
}

main {

    max-width: 100%;
    width: 100%;
    margin: auto;
    background-color: var(--white);
}

section {
    margin-top: 0;
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;

}

.box1 {
    background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 0 0 30px 30px;
}

.box1 h1 {
    color: var(--light-lavender);
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.box1 button {
    border-radius: 50%;
    border: none;
    width: 125PX;
    height: 125px;
    background: linear-gradient(to bottom, var(--Violet-blue-circle), var(--Persian-blue-circle));
}

.box1 button h2{
    color: var(--white);
    font-size: 3rem;

}

.box1 button p {
    color: var(--light-lavender);

}

article {
    margin-top: 1.6rem;
}

article h3 {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
}

article p {
    color: var(--light-lavender);
}

.box2 {
    padding: 0 2rem;
}

.box2 h4 {
    color: var(--dark-grey-blue);
    margin: 1.2rem 0;
    font-size: 1.2rem;
    font-weight: 800;
}

.group {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}



.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.reaction {
    background-color: var(--Light-red);
    padding: 15px 16px;
    margin-bottom: 1rem;
    border-radius: 7px;

}

.reaction h5 {
    color: var(--light-red-div);
}

.reaction p span {
    color: var(--span-colors);

}

.reaction p:not(span) {
    color: var(--dark-grey-blue);
    font-weight: 700;
}

.Memory {
    background: var(--Orangey-yellow);
    padding: 15px 16px;
    margin-bottom: 1rem;
    border-radius: 7px;
}

.Memory h5 {
    color: var(--Orange-yellow-div);
}

.Memory p span {
    color: var(--span-colors);
}

.Memory p:not(span) {
    color: var(--dark-grey-blue);
    font-weight: 700;
}

.Verbal {
    background: var(--Green-teal);
    padding: 15px 16px;
    margin-bottom: 1rem;
    border-radius: 7px;
}

.Verbal h5 {
    color: var(--Green-teal-div);
}

.Verbal p span {
    color: var(--span-colors);
}

.Verbal p:not(span) {
    color: var(--dark-grey-blue);
    font-weight: 700;
}

.visual {
    background: var(--Cobalt-blue);
    padding: 15px 16px;
    margin-bottom: 1rem;
    border-radius: 7px;
}

.visual h5 {
    color: var(--Cobalt-blue-div);
}

.visual p span {
    color: var(--span-colors);
}

.visual p:not(span) {
    color: var(--dark-grey-blue);
    font-weight: 700;
}
/*My second button*/
.continue {
    background: var(--dark-grey-blue);
    color: var(--white);
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 30px;
    padding: 15px 0;
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
}

.continue:hover {
    background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    border: none;
}

.attribution {
    color: var(--span-colors);
    text-align: center;
    font-size: 1rem;
    word-wrap: break-word;
}

.attribution a {
    color: var(--span-colors);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--Cobalt-blue-div);
}

.line:hover {
    transform: scaleY(1.1);
    font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
    body {
        background-color: white;
    }

    main {
        width: 100%;
        max-width: 43rem;
    }

    section {
        flex-direction: row;
        margin-top: 10rem;
        padding-bottom: 0;
        border-radius: 30px;
        box-shadow: 10px 10px 20px hsla(229, 53%, 94%, 1);

    }

    .box1 {
        width: 50%;
        border-radius: 25px;
        padding: 40px 40px;


    }


    .box2 {
        width: 50%;
        padding: 22px 30px;
        border-radius: 0 25px 25px 0;
    }

    .box2 h4 {
        margin-top: 0;
    }

    .attribution {
        margin-top: 3rem;
    }
}