:root {
  --p__txt--1: #111;
  --banner__txt--2: #fff;
  --btn__bg--3: #ff0157;
  --header__box__shadow--4: rgba(0, 0, 0, 0.5);
  --styles__box__shadow--5: rgba(0, 0, 0, 0.08);
  --testimonials__txt--6: #666;
  --contactForm__box__shadow--7: rgba(0, 0, 0, 0.1);
  --contactForm__border--8: #555;
  --copyrightText__txt--9: #333;
  --icon__bg--10: whitesmoke;
  --icon__txt--11: white;
  --input__bg--12: #ffd7e4;
  --btm__box__shadow--13: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}
.content .box .imgbox img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
p {
  font-weight: 300;
  color: var(--p__txt--1);
}
body {
  min-height: 1000px;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 5em;
  color: var(--banner__txt--2);
}
.banner .content p {
  font-size: 1em;
  color: var(--banner__txt--2);
}
.btn {
  font-size: 1em;
  color: var(--banner__txt--2);
  background: var(--btn__bg--3);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: var(--banner__txt--2);
  padding: 10px 100px;
  box-shadow: 0 5px 20px var(--header__box__shadow--4);
}
header .logo {
  color: var(--banner__txt--2);
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: var(--p__txt--1);
}
header .logo span {
  color: var(--btn__bg--3);
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: var(--banner__txt--2);
  font-weight: 300;
}
header.sticky .navigation li a {
  color: var(--p__txt--1);
}
header .navigation li a:hover {
  color: var(--btn__bg--3);
}
section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.titleText {
  color: var(--p__txt--1);
  font-size: 2em;
  font-weight: 300;
}
.titleText span {
  color: var(--btn__bg--3);
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .imgbox {
  position: relative;
  width: 100%;
  /* min-height: 300px;*/
  height: 100%;
}
.row .col50 .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.styles .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}
.styles .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid var(--banner__txt--2);
  box-shadow: 0 5px 35px var(--styles__box__shadow--5);
}
.styles .content .box .imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}
.styles .content .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.styles .content .box .text {
  padding: 15px 0 5px;
}
.styles .content .box .text h3 {
  font-weight: 400;
  color: var(--p__txt--1);
}
.experts .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.experts .content .box {
  width: 250px;
  margin: 15px;
}
.experts .content .box .imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}
.experts .content .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.experts .content .box .text {
  padding: 15px 0 5px;
}
.experts .content .box .text h3 {
  font-weight: 400;
  color: var(--p__txt--1);
}
.testimonials {
  background: url(./images/paperbg.jpeg);
  background-size: cover;
}
.white .titleText {
  color: var(--p__txt--1);
}
.white p {
  color: var(--p__txt--1);
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: var(--banner__txt--2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials .content .box .imgbox {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .content .box .text {
  text-align: center;
}
.testimonials .content .box .text p {
  color: var(--testimonials__txt--6);
  font-style: italic;
}
.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: var(--p__txt--1);
  font-size: 1em;
  color: var(--btn__bg--3);
  font-weight: 600;
}
.contact {
  background-size: cover;
}
.contactForm {
  padding: 75px 50px;
  background: var(--banner__txt--2);
  box-shadow: 0 30px 50px var(--contactForm__box__shadow--7);
  max-width: 500px;
  margin-top: 50px;
  margin: auto;
}
.contactForm h3 {
  color: var(--p__txt--1);
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid var(--contactForm__border--8);
  color: var(--p__txt--1);
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: var(--banner__txt--2);
  background: var(--btn__bg--3);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
}
.copyrightText {
  padding: 10px 60px;
  border-top: 1px solid var(--contactForm__box__shadow--7);
  text-align: center;
}
.copyrightText p {
  color: var(--copyrightText__txt--9);
}
.copyrightText a {
  color: var(--btn__bg--3);
  font-weight: 500;
  text-decoration: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: var(--icon__bg--10);
  color: var(--icon__txt--11);
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background: var(--icon__bg--10);
  border: none;
}

.input-field:focus {
  background: var(--input__bg--12);
}

/* Set a style for the submit button */
.btm {
  background-color: var(--btn__bg--3);
  color: var(--icon__txt--11);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 15px;
}

.btm:hover {
  opacity: 1;
}
.btm:active {
  box-shadow: 0 7px var(--btm__box__shadow--13);
  transform: translateY(4px);
}
input[type="radio"] {
  display: none;
}

label.radio {
  position: relative;
  display: inline-block;
  padding-top: 4px;
  margin-right: 20px;
  text-indent: 30px;
  overflow: visible;
  cursor: pointer;
  padding-bottom: 2px;
  height: 40px;
  vertical-align: top;
  margin-top: 3%;
}
label.radio:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--btm__box__shadow--13);
}
label.radio:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 4px;
  top: 8px;
  left: 4px;
  border: 3px solid var(--p__txt--1);

  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}
h2 {
  text-align: center;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--banner__txt--2);
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    color: var(--p__txt--1);
    font-size: 1.6em;
    line-height: 2em;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(./images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: var(--banner__txt--2);
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgbox {
    height: 300px;
    margin-top: 20px;
  }
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .box {
    margin: 10px;
  }
  .menu .content .box .imgbox {
    height: 260px;
  }
  .title {
    text-align: center;
  }
  .titleText {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .testimonials .content .box {
    margin: 10px;
    padding: 20px;
  }
  .contactForm {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  @media (max-width: 480px) {
    .banner .content h2 {
      font-size: 2.2em;
      color: var(--banner__txt--2);
    }
  }
}
