@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


:root{
    /*Primary*/
    --Strong-Cyan:hsl(171, 66%, 44%);
    --light-Blue: hsl(233, 100%, 69%);
    
    /* Neutral*/
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

*,
*::before, 
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:'Bai Jamjuree', sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: url(./images/bg-header-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
}

p{
    color:var(--Grayish-Blue);
}
main{
   max-width: 100%;
    text-align: center;
    margin-top: 9rem;
    
}

 section{
    padding:0 2rem;
 }
 
 .Mem{
    width:100%;
 }

 .begin{
    margin-top:3rem
 }
 .begin h1{
    font-size: 2rem;
    color:var(--Dark-Grayish-Blue)
 }

 .begin p{
    margin-top: 1rem;
    font-size:1rem;

 }

 .btns{
    margin-top: 2rem;
    display:flex;
    gap:1.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 button{
    color:#ffff;
    padding:0.9rem;
    border-radius:30px;
    width:100%;
    border: none;
    cursor:pointer;
 }
  .raw{
    background-color: var(--Strong-Cyan);
    box-shadow: 0 9px 14px hsla(171, 66%, 44%, 0.3);
    border-bottom: 4px groove hsla(171, 66%, 44%, 0.6);
    font-size: 1rem;
  }

  .raw:hover{
    background-color: hsl(171, 52%, 58%);
  }
  

 .rop{
    box-shadow: 0 9px 14px hsla(233, 100%, 69%, 0.1);
    background-color: var(--light-Blue);
    border-bottom: 2px groove hsla(233, 100%, 69% , 0.9);
    font-size: 1rem;
 }

 .rop:hover{
    background-color: hsl(233, 100%, 77%);
 }

 .track{
    margin-top:6rem;
 }

 .track p{
   font-size: 1rem;
    margin-top:1rem;
 }

 .sch{
    margin-top: 4rem;
 }

 .thrio{
    margin-top: 2rem;
 }

 .thrio h3{
    color:var(--Dark-Grayish-Blue)
 }

 .thrio p{
   font-size: 1.02rem;
   margin:0.5rem 0 3rem 0;
 }

 .three{
    margin-top:8.5rem;
 }
  
 .three h4{
    font-size:1.7rem;
    color:var(--Dark-Grayish-Blue);
 }

 .three p{margin-top: 0.8rem;
font-size:1rem}

 .three img{
    margin-top: 3.5rem;    
 }
 .four{
    margin-top:4rem
 }

 .four h5{
    font-size: 1.7rem;
    color:var(--Dark-Grayish-Blue);
 }

 .four p{
    margin-top:0.8rem;
 }

 .blacklists{
    margin-top: 2rem;
 }

 .blacklists h6{
 font-size: 1.2rem;
color: var(--Dark-Grayish-Blue);
margin-top:1.7rem;
 }

 .blacklists p{
 font-size:1rem ;
 }

 .blacklists img{
    margin-top: 3.5rem;
 }

 .five{
    margin-top: 5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
 }

 .five img{
    width:90px;
 }

 .six{
    margin-top: 5.5rem;
 }

 .six h6{
    padding: 0 2.5rem;
    font-size: 1.4rem;
    color: var(--Dark-Grayish-Blue);
 }

 .six p{
    margin-top: 1rem;
    font-size: 1.02rem;
 }

 footer{
    margin-top:10rem;
    background-color: hsl(220, 18%, 97%);
 }

 .log{
    width:30px;
    margin-top:2rem;
    margin-bottom: 0.8rem;
 }

 
 footer p{
    margin-top:0.8rem;
    cursor:pointer;
 }

 footer p:hover{
    color:var(--Strong-Cyan);
 }

 .Imgs{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap:1.5rem; 
    cursor:pointer;
 }

 .Imgs img{
    margin-top:2.4rem;
    width:20px;
    margin-bottom: 2rem;
 }

 .facebook:hover{
   content: url(./images/Vector-2.png);
 }

 .twitter:hover{
    content:url(./images/Vector-1.png);
 }

 .instagram:hover{
    content:url(./images/Vector.png);
 }


 .attribution {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
 }

 .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration:none;
 }

 .attribution a:hover{
   color:var(--light-Blue);
 }




 @media screen and (min-width: 768px){

   
    main{
      max-width: 100%;
    }

    section{
        padding:0 5rem;
    }
     

    .begin h1{
      font-size: 2.3rem;
    }
    .begin p{
      font-size: 1.09rem;
    }

    .btns{
        flex-direction: row;
        gap:0.5rem;
        padding:0 7.5rem
    }

    .raw{
        width:70%;
    }

    .rop{
        width:70%;
    }

    .sch{
        display: flex;
        flex-direction: row;
        gap:3rem;
        justify-content: space-between;       
    }

    .thrio{
        text-align: left;
    }

    .thrio p{
      font-size:1rem;
    }
      
    .sch img{
        margin-left: -139px;
        width:360px;
        height:500px;
    }
     
    .blacklists{
        gap:1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .blacklists p{
      font-size:1rem;
    }

    .five{
        flex-direction: row;
    }

    .line, .rump{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        gap:1.8rem; 
    }

    .Imgs{
        margin-left:4rem;
    }

    .log{
       margin-right:2.5rem; 
       width:50px;
    }

    footer{
        padding:3rem 0  1.5rem 0;
    }
}

    @media screen and (min-width: 1024px){

        body{
            background-image: url(./images/bg-header-desktop.png);
        }
        main{
         width:100%;
        }
         
        section{
           padding:0 8.75rem;
        }
         
         .begin, .track{
            padding:0 13.75rem;
         }
          .begin h1{
         font-size:2.2rem;
        }

        .begin p{
         font-size:1rem;
        }

      .btns {
      flex-direction: row;
       gap: 1rem;
       padding: 0 10rem;
       margin-top: 4rem;
       }

       .raw{
         width:14rem;
         font-size: 1rem;
         padding:1.2rem 0;
         border-radius: 40px;
       }
        
       .rop{
         width: 14rem;
            font-size: 1rem;
            padding: 1.2rem 0;
            border-radius: 40px;
       }

       

       .track{
         margin-top:10rem;
       }

       .track h2{
         font-size:2rem;
       }

       .track p{
         font-size:0.9rem;
       }
       
       .sch{
         gap:7.35rem;
       }
       .sch img{
        width:48.375rem;
        height: 36.625rem;
        margin-left: -20rem;
       }

       .thrio{
         padding-right: 6rem;
         padding-top:5.75rem;        
       }

       .thrio p{
         font-size: 1rem;
       }

       .thrio h3{
         font-size: 2rem;
       }
       
       .three p{
         font-size: 1rem;
        padding: 0 12.73rem;
       }
       .three img{
        width:52.375rem;
        height: 30.5rem;
       }

       .blacklists{
         gap:2rem;
         padding:0 2.125rem;
       }

       .blacklists p{
         font-size: 1rem;
         line-height: 1.5;
       }

       .five{
         margin-top: 8rem;
         padding:0 1.25rem;
       }

       .five img{
         width: 150px;
       }

       .six p{
         font-size: 1rem;
         padding:0 11.70rem;
       }

       .rump:not(img){

         margin-right: 10rem;
       }
       .FAC{
         margin-left:4rem ;
         padding-right:3rem;
       }

       .Prki{
         padding-right:3rem;
       }
       
      }

      @media screen and (min-width: 1440px){

         .begin h1{
            font-size: 3.2rem;
         }
         .begin p {
               font-size: 1.39rem;
            }

       .track h2 {
         font-size: 2rem;
      }
            
      .track p {
     font-size: 1.3rem;
    }

       .sch img {
          width: 55.375rem;
          height: 36.625rem;
          margin-left: -10rem;
       }

       .thrio{
          padding-top: 3.75rem;
       }

      .thrio p {
      font-size: 1.29rem;
      }

     .thrio h3 {
     font-size: 1.6rem;
       }

     .three p {
      font-size: 1.3rem;
      }

      .blacklists {
      gap: 2.5rem;
      padding:0;
      }

       .blacklists p{
         font-size: 1.3rem;
       }

      .four p{
         font-size: 1.3rem;
      }

      .four h5{
         font-size: 2.4rem;
      }
      .five img {
       width: 160px;
       margin-right: 3rem;
       }

       .six p{
         font-size: 1.3rem;
         padding: 0 13.90rem;
       }

      .rump:not(img) {
      margin-right: 14rem;
      }

      .Imgs{
         margin-left:16rem;
      }

      .attribution{
         padding-top:0.5rem;
      }
      }
    
 