@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    /*Primary colors*/
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --shadow:hsla(300, 43%, 22%, 0.7);

    /* Neutral colors */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    --font-size: 15px;
    
}

*{
    font-family:'League Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color:var(--White);
    flex-direction: column;
    font-weight: 400;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    font-size: var(--font-size);
}

main{
    padding:2rem 1.5rem;
    text-align: center;
}

.first h1{
    padding:0 4rem;
    font-weight: 700;
    color:var(--Very-Dark-Magenta);
    font-size:2rem;
    margin-top: 1rem;
    text-shadow: 2px 1px var(--shadow);
}

.first p{
    color:var(--Dark-Grayish-Magenta);
    font-weight: 500;
    font-size: 1.09rem;
    margin-top: 1rem;
    line-height: 1.3;
}

.second, .third{
    margin-top: 2rem;
    cursor:pointer;
}

.one, .two, .three{
    padding:1rem;
    background-color: var(--Light-Grayish-Magenta);
    margin:0.8rem  0  0 0;
    font-size: 1rem;
    font-weight: 700;
    color:var(--Very-Dark-Magenta);
    border-radius:10px;

}

.one img{
    margin:0 0 0.4rem 0.3rem;
}


.third article img{
    border-radius:50%;
    height:50px;
    width:50px;
}

.third article .join{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    margin-bottom:1.5rem;
}

article{
    background-color: var(--Very-Dark-Magenta);
    margin-bottom:1rem;
    padding:2rem;
    border-radius:10px;
    color:var(--Light-Grayish-Magenta);
    text-align: left;
}

#colored {
    color:var(--Soft-Pink);
    font-weight: 500;
    margin-top: 0.2rem;
    
}

.space{
    line-height:1.5;
    font-weight: 400;
    font-size: 1.05rem;
}

footer .attribution {
    font-size:1rem;
    text-align: center;
    color:var(--Very-Dark-Magenta);
    margin-top:0.4rem;
    padding: 1rem 3rem;
    cursor:pointer;
    line-height:1.2;
}

.attribution a {
    color: var(--Dark-Grayish-Magenta);
    text-decoration: none;
}

.attribution a:hover{
    color:var(--Soft-Pink);
}


@media (width: 912px){
.first h1{
    font-size: 2rem;
}

.one, .two, .three{
    padding:1rem 0.5rem!important;
    
}


.first{
    padding-right:0!important;
}

.two{
    margin-top:0.7rem;
    margin-left:1.6rem!important;
}

.three{
    margin-left:3.2rem!important;
    margin-top:0.7rem;
}
}


@media screen and (min-width: 768px){
    body{
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position:left top, right bottom;
        margin:0 auto;
    }

    main{
    width:80%;
    margin:0 auto;
    padding:0 0;
    }

    .desk {
        padding-top:4rem;
        column-count: 2;
        gap:3rem;
        justify-content: space-between;
        
    }

    .second{
        padding:0.3rem;
        margin-top:8.2rem;
        width:100%;
    }
    
    .first{
        text-align: left;
        padding:0.6rem 7rem 0 0;
        
    }
    .first h1{
        margin-top: 0;
        padding:0 1rem 0 0;
        font-size:2rem;
    }

    .first p{
        margin-top:2rem;
        font-size: 1rem;
    }
    
    .one, .two, .three{
        width:80%;
        border-radius:8px;
    }
    .two{
    margin-left:3rem;
    }

    .three{
        margin-left:6rem
    }

    .one, .two, .three{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:1.3rem 2rem;
    }

  
  .third{
    display:flex;
    gap:2rem;
    margin-top:1rem;
    height: 100%;   
    
  }
    
  article.step-1, article.step-2, article.step-3{
   height:80%;
   padding:2rem  auto 4rem 1.5rem;
   
  }

  article.step-2{
  margin-top: 1rem;
  }
  
  article.step-3{
    margin-top:2rem;
  }
 
  .space{ font-size:1.3rem;}

}

@media screen and (min-width: 1204px){

   
  .first h1{
    padding:0 5.9rem 0 0;
    font-size:3.5rem;
  }

  .first p{
    margin-top:1.3rem;
    font-size:1.2rem;
  }

  .space{
    font-size: 1.19rem;
  }

  footer .attribution{
    padding-top:4rem;
    font-size:1.3rem;
  }
}
  @media (width: 1280px){
   .first h1{
    font-size: 2.8rem;
   }

   .first p{
    font-size: 1rem;
   }

   .space{
    font-size:1.07rem;
   }

   article.step-1,
   article.step-2,
   article.step-3{
    padding:2rem 1rem;
   }
  }

